{% extends 'base.twig' %}

{% block body %}
    <div class="box-container">
        <div class="provider-wrapper">
            <a href="/settings/delivery/1">
                <button>Провайдер 1</button>
            </a>
        
            <a href="/settings/delivery/2">
                <button>Провайдер 2</button>
            </a>
        </div>
    </div>
{% endblock %}